    .number {
      border: 1px solid #ddd;
      border-radius: 10px;
    }
		.minus, .plus{
			padding:11.5px 20px;
			border:none;
      outline: none;
      display: inline-block;
      font-size: 20px;
      cursor: pointer;
      vertical-align: middle;
      text-align: center;
      background: transparent;
		}
		input{
			height:34px;
      width: 50px;
      text-align: center;
      font-size: 26px;
			border: none;
      display: inline-block;
      vertical-align: middle;
      outline: none;
    }
