.container {
    flex-direction: column;
    width: 100%;
    letter-spacing: 0px;
    font-size: 18px;

 }

 .btnVerMais {
   padding-left: 10px !important;
   font-weight: 600 !important;
   color: #4E4E4E !important;
   all: unset;
   font-size: 14px;
   cursor: pointer !important;

 }